{{#if categories}}
<table class="table table-dark" style="margin-top: 1.5rem;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {{#each categories}}
            <tr>
                <td>{{name}}</td>
                <td>
                  <a href="/category/edit/{{_id}}" class="edit"><i class="fas fa-edit"></i></a>
                  <form action="/category/remove/{{_id}}" method="POST">
                        <input type="hidden" name="_method" value="delete">
                        <input type="text" name="product" id="product" value="{{_id}}" hidden>
                        <button type="submit" id="submitForm" class="delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
  </table>
{{else}}
    <p class="noProduct">Dont have Category yet.</p>
{{/if}}

<div class="fixed-action-btn">
    <a href="/category/add"><i class="fas fa-plus-circle"></i></i></a>
</div>